<style>
    .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-duty" lay-title="值班信息">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">值班主体</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="dutyDeptId" id="dept" lay-filter="dept"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">值班周期：</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="startTime" id="febs-form-group-startdate" lay-verify="startdate"
                                                   placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline">
                                            <input type="text" name="endTime" id="febs-form-group-enddate" lay-verify="enddate"
                                                   placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="duty:add">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                                <button class="layui-btn  layui-btn-sm layui-btn-primary" id="export"
                                        shiro:hasPermission="duty:export">
                                    <i class="layui-icon">&#xe7a8;</i> 导出Excel
                                </button>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="dutyTable" lay-data="{id: 'dutyTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--下拉、序号等-->
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>


<!--列表操作项-->
<script type="text/html" id="duty-option">
    <span shiro:lacksPermission="duty:view,duty:update,duty:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="detail" shiro:hasPermission="duty:view"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
    <a lay-event="del" shiro:hasPermission="duty:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
                laydate = layui.laydate,
                febs = layui.febs,
                form = layui.form,
                table = layui.table,
                treeSelect = layui.treeSelect,
                dropdown = layui.dropdown,
                $view = $('#febs-duty'),
                $query = $view.find('#query'),
                $reset = $view.find('#reset'),
                $searchForm = $view.find('form'),
                sortObject = {field: 'createTime', type: null},
                tableIns;


        form.render();

        laydate.render({
            elem: '#febs-form-group-startdate'
        });
        laydate.render({
            elem: '#febs-form-group-enddate'
        });

        treeSelect.render({
            elem: $view.find('#dept'),
            type: 'get',
            data: ctx + 'dept/select/tree',
            placeholder: '请选择',
            search: false
        });

        /*  加载列表*/
        initTable();
        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'dutyTable',
                url: ctx + 'duty/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'zizeng', title: '序号',type:'numbers'},
                    {field: 'dutyNo', title: '值班编号'},
                    {field: 'deptname', title: '值班主体'},
                    {field: 'address', title: '项目地点'},
                    {field: 'truename', title: '制定人'},
                    {field: 'startTime', title: '开始时间'},
                    {field: 'endTime', title: '结束时间'},
                    {field: 'ext3', title: '状态', templet: function (d) {
                        var status = "";
                        if(d.ext3==0){
                            status = "未开始";
                        }else if(d.ext3==1){
                            status = "执行中";
                        }else if(d.ext3==2){
                            status = "已完成";
                        }
                        return status;
                    }},
                    {title: '操作', toolbar: '#duty-option', minWidth: 140}
                ]]
            });
        }

        /*下拉按钮功能*/
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('dutyTable');
                if (name === 'add') {
                    febs.modal.open('值班设置', 'duty/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#duty-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#duty-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    console.log(checkStatus);
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请选择需要删除的项目');
                    } else {
                        febs.modal.confirm('删除项目', '确定删除该项目？', function () {
                            var dutyIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                dutyIds.push(item.id)
                            });
                            deletedutys(dutyIds.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '值班设置',
                perms: 'duty:add'
            }, {
                name: 'delete',
                title: '删除值班信息',
                perms: 'duty:delete'
            },]
        });

        /*列表操作按钮功能*/
        table.on('tool(dutyTable)', function (obj) {
            var data = obj.data,
                    layEvent = obj.event;
            if (layEvent === 'detail') {
                febs.modal.view('值班信息', 'system/duty/detail/' + data.id, {
                    area: $(window).width() <= 750 ? '95%' : '52%',
                });
            }
            if (layEvent === 'del') {
                febs.modal.confirm('删除项目', '确定删除该项目？', function () {
                    deletedutys(data.id);
                });
            }
        });

        /*搜索功能*/
        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });
        function getQueryParams() {
            return {
                dutyDeptId: $searchForm.find('input[name="dutyDeptId"]').val().trim(),
                startTime: $searchForm.find("input[name='startTime']").val().trim(),
                endTime: $searchForm.find("input[name='endTime']").val().trim()
            };
        }

        /*重置搜索项*/
        $reset.on('click', function () {
            $searchForm[0].reset();
            treeSelect.revokeNode('borgId');
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        /*删除*/
        function deletedutys(dutyIds) {
            febs.get(ctx + 'duty/delete/' + dutyIds, null, function () {
                febs.alert.success('删除项目成功');
                $query.click();
            });
        }

        $view.on('click', '#export', function () {
            var params = {};
            params.dutyDeptId = $searchForm.find('input[name="dutyDeptId"]').val().trim();
            params.startTime = $searchForm.find("input[name='startTime']").val().trim();
            params.endTime = $searchForm.find("input[name='endTime']").val().trim();
            febs.download(ctx + 'duty/excel', params, '值班信息.xlsx');
        });

        /*排序功能*/
        table.on('sort(dutyTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });
    })
</script>